.form-card {
    margin-top: 40px;
    margin-bottom:80px;
}

.permissions-header {
    display: flex;
    align-items: stretch;
    margin: 0 18px 0 30px;
}

.perm-icon {
    display: inline-block;
    margin: auto;
}

.permissions-header i:first-of-type {
    margin-left: 0;
}

.permissions-header i:last-of-type {
    margin-right: 0;
}

.fixed-action-btn {
    bottom: 45px;
    position: fixed;
    right: 45px;
    z-index: 99;
}

.reply-icon {
    display: inline-block;
    margin: auto;
}

.wrap {
  	word-wrap: break-word;
    word-break: break-word;
}

.body {
    font-size: large;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
    height: auto;
    margin-left: 56px;
}

.mdl-list__item--three-line,
.mdl-list__item--three-line .mdl-list__item-primary-content {
    height: auto;
}