{% extends "constellation_base/base.html" %}

{% block title %}Ticket Box | View Box{% endblock %}
{% block heading %}Ticket Box | View Box{% endblock %}

{% block head %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'constellation_ticketbox/css/ticketbox.css' %}">
{% endblock %}

{% block js %}
<div id="message-toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
{{ block.super }}
{% load static %}
<script src="{% static 'constellation_ticketbox/js/box.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script>
    var url_api_v1_box_open_tickets = "{% url 'constellation_ticketbox:api_v1_box_open_tickets' id %}"
    var url_view_ticket = "{% url 'constellation_ticketbox:view_ticket' 0 %}"
    var user_id = "{{ user_id }}"
</script>
{% endblock %}

{% block content %}
{% load guardian_tags %}
{% get_obj_perms request.user for box as "box_perms" %}
<div id="ticketsCard" class="wrap mdl-card mdl-cell--8-col mdl-cell--2-offset-desktop mdl-shadow--2dp mdl-grid">
    {% if "action_read_box" in box_perms %}
    {% verbatim %}
    <script id="handlebars-tickets" type="text/x-handlebars-template">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Tickets</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-list">
            {{#each tickets}}
                <div class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <a href="{{url}}">{{title}}</a>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        #{{id}}
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        {{timestamp}}
                    </span>
                </div>
            {{/each}}
            </div>
            <hr/>
            <h5>Your Tickets</h5>
            <div class="mdl-list">
            {{#if user_tickets}}
            {{#each user_tickets}}
                <div class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <a href="{{url}}">{{title}}</a>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        {{status}}
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        {{timestamp}}
                    </span>
                </div>
            {{/each}}
            {{else}}
                You have no tickets yet -- add one below!
            {{/if}}
            </div>
        </div>
    </script>
    {% endverbatim %}
    {% elif "action_add_tickets" in box_perms %}
    {% verbatim %}
    <script id="handlebars-tickets" type="text/x-handlebars-template">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Your Tickets</h2>
        </div>
          <div class="mdl-card__supporting-text">
            <div class="mdl-list">
            {{#if user_tickets}}
            {{#each user_tickets}}
                <div class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <a href="{{url}}">{{title}}</a>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        {{status}}
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        {{timestamp}}
                    </span>
                </div>
            {{/each}}
            {{else}}
                You have no open tickets yet -- add one below!
            {{/if}}
            </div>
          </div>
        </div>
    </script>
    {% endverbatim %}
    {% endif %}
</div>
<div id="formCard" class="form-card mdl-card mdl-cell--8-col mdl-cell--2-offset-desktop mdl-shadow--2dp mdl-grid">
   <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">New Ticket</h2>
   </div>
   <div class="mdl-card__supporting-text">
      <form method="post" action="{% url 'constellation_ticketbox:api_v1_ticket_create' id %}" id="newTicketForm" class="mdl-cell--12-col">
         {% csrf_token %}
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col mdl-cell--bottom">
            {{ form.title }}
            <label class="mdl-textfield__label" for="{{ form.title.id_for_label }}">Title</label>
         </div>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col mdl-cell--bottom">
            {{ form.body }}
            <label class="mdl-textfield__label" for="{{ form.body.id_for_label }}">Body</label>
         </div>
         <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="{{ form.anonymous.id_for_label }}">
           {{form.anonymous}}
           <span class="mdl-switch__label">Anonymous</span>
         </label>
         {{ form.status.as_hidden }}
         <br></br>
         <div class="mdl-layout-spacer"></div>
            <div class="mdl-card__actions">
               <div class="mdl-layout-spacer"></div>
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                  Create Ticket <i class="material-icons right">done</i>
               </button>
            </div>
         </form>
      </div>
   </div>
<div class="fixed-action-btn">
  {% if "action_manage_box" in box_perms %}
  <a href="{% url 'constellation_ticketbox:manage_box_edit' id %}" class="fab">
    <button id="settings" class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
      <i class="material-icons">settings</i>
    </button>
  </a>
  {% endif %}
  {% if "action_add_tickets" in box_perms %}
  <a href="{% url 'constellation_ticketbox:view_box_archive' id %}" class="fab">
    <button id="archive" class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
      <i class="material-icons">archive</i>
    </button>
  </a>
  {% endif %}
</div>
<br/>
{% endblock %}
