{% extends "constellation_base/base.html" %}

{% block title %}Ticket Box | Manage Boxes{% endblock %}
{% block heading %}Ticket Box | Manage Boxes{% endblock %}

{% block head %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'constellation_ticketbox/css/ticketbox.css' %}">
{% endblock %}

{% block js %}
<div id="message-toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
{{ block.super }}
{% load static %}
<script src="{% static 'constellation_ticketbox/js/manage-boxes.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script>
    var url_api_v1_box_list = "{% url 'constellation_ticketbox:api_v1_box_list' %}"
    var url_view_box = "{% url 'constellation_ticketbox:view_box' 0 %}"
    var url_box_edit = "{% url 'constellation_ticketbox:manage_box_edit' 0 %}"
    var url_api_v1_box_archive = "{% url 'constellation_ticketbox:api_v1_box_archive' 0 %}"
    var url_api_v1_box_unarchive = "{% url 'constellation_ticketbox:api_v1_box_unarchive' 0 %}"
</script>
{% endblock %}

{% block content %}
<div id="boxesCard" class="mdl-card mdl-cell--8-col mdl-cell--2-offset-desktop mdl-shadow--2dp mdl-grid">
    {% verbatim %}
    <script id="handlebars-box" type="text/x-handlebars-template">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Boxes</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-list">
            {{#if active_boxes}}
            {{#each active_boxes}}
                <div class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <a href="{{url}}">{{name}}</a>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span class="mdl-list__item-secondary-action">
                          <a href="#" onclick="archiveBox({{id}})"><i class="material-icons">close</i></a>
                          <a href="#" onclick="editBox({{id}})"><i class="material-icons">edit</i></a>
                        </span>
                    </span>
                </div>
            {{/each}}
            {{else}}
                No active boxes yet -- add one below!
            {{/if}}
            </div>
            <hr/>
            <h5>Archived Boxes</h5>
            <ul>
            {{#each inactive_boxes}}
                <div class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <span><a href="{{url}}">{{name}}</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span class="mdl-list__item-secondary-action">
                            <a href="#" onclick="unarchiveBox({{id}})"><i class="material-icons">check_circle</i></a>
                        </span>
                    </span>
                </div>
            {{/each}}
            </ul>
        </div>
    </script>
    {% endverbatim %}
</div>
<div id="formCard" class="form-card mdl-card mdl-cell--8-col mdl-cell--2-offset-desktop mdl-shadow--2dp mdl-grid">
   <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">New Box</h2>
   </div>
   <div class="mdl-card__supporting-text">
      <form method="post" action="{% url 'constellation_ticketbox:api_v1_box_create' %}" id="newBoxForm" class="mdl-cell--12-col">
         {% csrf_token %}
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col mdl-cell--bottom">
            {{ form.name }}
            <label class="mdl-textfield__label" for="{{ form.name.id_for_label }}">Name</label>
         </div>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col mdl-cell--bottom">
            {{ form.desc }}
            <label class="mdl-textfield__label" for="{{ form.desc.id_for_label }}">Description</label>
         </div>
         <ul class="demo-list-control mdl-list">
            <li class="mdl-list__item">
               <span id="group-header" class="mdl-cell--4-col">Group</span>
               <span class="mdl-cell--12-col permissions-header">
                  <i id="perm-none" class="material-icons perm-icon">not_interested</i>
                  <div class="mdl-tooltip" for="perm-none">No Permissions</div>
                  <i id="perm-add" class="material-icons perm-icon">add_box</i>
                  <div class="mdl-tooltip" for="perm-add">Add Tickets</div>
                  <i id="perm-reply" class="material-icons perm-icon">forum</i>
                  <div class="mdl-tooltip" for="perm-reply">View Tickets</div>
                  <i id="perm-manage" class="material-icons perm-icon">mode_edit</i>
                  <div class="mdl-tooltip" for="perm-manage">Manage Tickets</div>
                  <i id="perm-edit" class="material-icons perm-icon">settings</i>
                  <div class="mdl-tooltip" for="perm-edit">Manage Box</div>
               </span>
               {% for group in groups %}
               <li class="mdl-list__item">
                  <span id="group-{{ group.1 }}" class="mdl-cell--4-col">{{ group.0 }}</span>
                  <span class="mdl-cell--12-col">
                     <input id="slider-{{ group.1 }}" name="group-{{ group.1 }}" class="mdl-slider mdl-js-slider group-permission" type="range" min="1" max="5" steps="1" value="1">
                  </span>
               </li>
               {% endfor %}
            </ul>
            <div class="mdl-card__actions">
               <div class="mdl-layout-spacer"></div>
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                  Create Box <i class="material-icons right">done</i>
               </button>
            </div>
         </form>
      </div>
   </div>
{% endblock %}
