{% extends "constellation_base/base.html" %}

{% block title %}Ticket Box | View Ticket{% endblock %}
{% block heading %}Ticket Box | View Ticket{% endblock %}

{% block head %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'constellation_ticketbox/css/ticketbox.css' %}">
{% endblock %}

{% block js %}
<div id="message-toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
{{ block.super }}
{% load static %}
<script src="{% static 'constellation_ticketbox/js/ticket.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script>
    var ticket_id = "{{ id }}"
    var url_api_v1_ticket_replies = "{% url 'constellation_ticketbox:api_v1_ticket_replies' id %}"
    var url_api_v1_ticket_archive = "{% url 'constellation_ticketbox:api_v1_ticket_archive' id %}"
    var url_api_v1_ticket_unarchive = "{% url 'constellation_ticketbox:api_v1_ticket_unarchive' id %}"
</script>
{% endblock %}

{% block content %}
{% load guardian_tags %}
{% get_obj_perms request.user for box as "box_perms" %}
<div id="ticketCard" class="wrap mdl-card mdl-cell--10-col mdl-cell--1-offset-desktop mdl-shadow--2dp mdl-grid">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ ticket.title }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-list">
      <div class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          {{ ticket.body }}
        </span>
        </div>
              <div class="mdl-list__item">
        <span class="mdl-list__item-secondary-content">
        {% if ticket.anonymous %}
          Author: Anonymous
        {% else %}
          Author: {{ ticket.owner }}
        {% endif %}
        </span>
        </div>
        <div class="mdl-list__item">
        <span class="mdl-list__item-secondary-content">
          Submitted: {{ ticket.timestamp|date:"n/j/Y, g:i:s A" }}
        </span>
        </div>
         <div class="mdl-list__item">
        <span class="mdl-list__item-secondary-content">
          Status: {{ ticket.status }}
        </span>
        </div>
      </div>
      {% if "action_manage_tickets" in box_perms or request.user == ticket.owner %}
      <form method="post" action="{% url 'constellation_ticketbox:api_v1_ticket_update_status' id %}" id="updateForm" class="mdl-cell--8-col">
        {% csrf_token %}
          {{ status_form.title.as_hidden}}
          {{ status_form.body.as_hidden}}
          {{ status_form.anonymous.as_hidden}}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col mdl-cell--bottom">
              {{ status_form.status }}
              <label class="mdl-textfield__label" for="{{ status_form.status.id_for_label }}">Status</label>
          </div>
             <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                Update Status <i class="material-icons right">done</i>
             </button>
        </form>
        <br>
        {% if not ticket.archived %}
        <span class="mdl-list__item-primary-content">
                  <a href="{% url 'constellation_ticketbox:api_v1_ticket_archive' id %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Close Ticket</a>
        </span>
        {% endif %}
        {% if ticket.archived and "action_manage_tickets" in box_perms %}
        <span class="mdl-list__item-primary-content">
                  <a href="{% url 'constellation_ticketbox:api_v1_ticket_unarchive' id %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Reopen Ticket</a>
        </span>
        {% endif %}
      {% endif %}
    </div>
</div>
<br></br>
<div id="repliesCard" class="wrap mdl-cell--10-col mdl-cell--1-offset-desktop">
    {% verbatim %}
    <script id="handlebars-replies" type="text/x-handlebars-template">
            {{#if replies}}
            {{#each replies}}
              <div class="mdl-card mdl-cell--10-col mdl-cell--1-offset-desktop mdl-shadow--2dp mdl-grid">
              <div class="mdl-list">
                <div class="mdl-list__item">
                    <span class="mdl-card__title-text ">
                        {{body}}
                    </span>
                </div>
                <div class="mdl-list__item">
                    <span class="mdl-card__supporting-text">
                    {{#if anonymous}}
                        Author: Anonymous
                    {{else}}
                        Author: {{owner}}
                    {{/if}}
                    </span>
                </div>
                <div class="mdl-list__item">
                    <span class="mdl-card__supporting-text">
                        Submitted: {{timestamp}}
                    </span>
                </div>
              </div>
              </div>
              <br></br>
            {{/each}}
            {{else}}
                No replies yet -- add one below!
            {{/if}}
            </div>
    </script>
    {% endverbatim %}
</div>
<div id="formCard" class="form-card mdl-card mdl-cell--10-col mdl-cell--1-offset-desktop mdl-shadow--2dp mdl-grid">
   <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">New Reply</h2>
   </div>
   <div class="mdl-card__supporting-text">
      <form method="post" action="{% url 'constellation_ticketbox:api_v1_reply_create' id %}" id="newReplyForm" class="mdl-cell--12-col">
         {% csrf_token %}
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col mdl-cell--bottom">
            {{ form.body }}
            <label class="mdl-textfield__label" for="{{ form.body.id_for_label }}">Body</label>
         </div>
            <div class="mdl-card__actions">
               <div class="mdl-layout-spacer"></div>
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                  Create Reply <i class="material-icons right">done</i>
               </button>
            </div>
         </form>
      </div>
   </div>
{% endblock %}
